@import url("Iosevka.css");
:root {
	--text: #cdd6f4;
	--background: #1e1e2e;
	--crust: #11111b;
	--mantle: #181825;
	--red: #f38ba8;
	--green: #a6e3a1;
  --hexagon-size: 150px;
  --hexagon-borders: 3px;
	background-color: var(--background);
	color: var(--text);
	font-family: "Iosevka Web";
	padding: 6%;
}
h1 {
	font-size: 5rem;
	padding-top: 0%;
	padding-left: 5%;
	margin: auto;
}
h2 {
	font-size: 2rem;
	padding-bottom: 0%;
	margin: auto;
	font-weight: normal;
}
h3 {
	font-size: 1.5rem;
	font-weight: normal;
}
.box {
	background-color: var(--mantle);
	border: 3px solid var(--crust);
	border-radius: 10px;
	display: inline-block;
	padding: 15px;
}
.hex-container {
	display: inline-block;
	position: relative;
	height: var(--hexagon-size); /* adjust to control the size  */
	width: var(--hexagon-size); /* adjust to control the size  */
	margin-top: calc(var(--hexagon-size) / -8);
	margin-bottom: calc(var(--hexagon-size) / -8);
	aspect-ratio: cos(30deg);
	clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
	background: #3b8686;
	transition: all 0.2s ease-out;
}
.hex {
	position: absolute;
	top: var(--hexagon-borders);
	left: var(--hexagon-borders);
	width: calc(var(--hexagon-size) - var(--hexagon-borders) * 2);
	height: calc(var(--hexagon-size) - var(--hexagon-borders) * 2);
	background: var(--crust);
	align-items: center;
	justify-content: center;
	display: flex;
	clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
}

.hex-row.even {
	padding-left: calc(cos(30deg) * (var(--hexagon-size) / 2) + var(--hexagon-size) / 11);
}
.hex-row {
	display: flex;
	flex-direction: row;
	gap: calc(var(--hexagon-size) / 20);
	margin-top: calc(var(--hexagon-size) / 20);
}

.text {
	color: var(--text);
	border: 1px solid var(--text);
}
.red {
	color: var(--red);
	border: 1px solid var(--red);
}
.green {
	color: var(--green);
	background: var(--green);
}

.small {
	font-size: 0.75em;
}

.hex-container:hover {
	transform: scale(1.3);
	z-index: 2;
	transition: all 0.2s ease-out
}
